.iphone13{
    display: flex;
  
    background-position: center;
    width: 100%;
    height: 500px;
}
.iphone{
    font-size: 20px;
    width: 50%;
    height: 80%;
    padding-left: 7%; 
   
    /* background-color: rgba(193, 240, 82, 0.671);*/
}
.red-border{
    border-left: 5px solid red;
    padding-left: 8px;
    
}
.iphone img{
 width: 40%;
 padding-left: 20%;
 padding-top: 30px;
 
}
.iphone h1{
    font-size: 50px;
    font-style: initial; 
}
.link-button{
   text-decoration: none;
   border-radius: 5px;
   
   font-size: 20px;
   padding: 10px 10px;
   color: rgb(245, 247, 243);
   background-color: rgb(106, 203, 206);
}

.main-feature3 img{
    height: 60px;
}
.main-feature2 img{
    height: 60px;
    
}
.feature img{
    max-width: 60px;   
    background-color: none; 
}
.feature h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
.all-feature{
    display: flex;
    justify-content: space-around;   
}
.main-feature1{
    background-color: #b7f348;
    width: 250px;
    border: 3px solid rgb(233, 212, 165);
    box-shadow: 10px 10px 50px yellow;
    border-radius: 10px;
}
.main-feature2{
    background-color: rgba(245, 171, 239, 0.87);
    width: 250px;
    box-shadow: 10px 10px 50px rgb(115, 255, 0);
    border-radius: 10px;
}
.main-feature3{
    background-color: rgb(111, 154, 245);
    width: 250px;
    box-shadow: 10px 10px 50px rgb(0, 140, 255);
    border-radius: 10px;
}

.yellow-color{
     color: rgba(196, 91, 21, 0.945);
}
.cinema{
    display: flex;
    background-position: center;
    width: 100%;
    height: 500px;
}

.cinema-1 {
        padding-top: 30px;
        font-size: 20px;
        width: 50%;
        height: 80%;
        padding-right: 7%; 
        padding-top: 10%;
        /* background-color: rgba(193, 240, 82, 0.671);*/  
}
.cinema-1 h1{
    
        font-size: 40px;
 
}
.cinema-1 img{
        width: 80%;
        padding-left: 10%;
        padding-top: 5%;
     
}
.water{
    display: flex;

    width: 100%;
    height: 500px;
}
.water img{
    padding-right: 20%;  
}
.water-resistence{
        padding-top: 5%;
        font-size: 20px;
        width: 100%;
        height: 5px;
        padding-left: 10%;
       
       
}
.water-resistence h1{
   
        font-size: 40px;
        font-style: bold; 
   
}
.pro-max{
    display: flex;

        }
.lens h1{
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.lens h2{
    padding-top: 5%;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tripple-lens{
      font-size: 20px;
        width: 100%;
        
        padding-left: 10%;
       
    
}
.tripple-lens img{
    padding-left: 40px;
}

.end{
    
    text-align: center;
    background-color: rgb(56, 54, 54);
    height: 130px;
  
    

}
.orange{
    color: yellow;
    

}
.white{
    color: turquoise;

}
.end p{
    color: white;
}
.last-end h2{
    
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}